<h2>Here are all the animals of this type:</h2>

@if (@Model["animals"].Count == 0)
{
  <p>No animals have been added yet!</p>
}
else
{
  <ol>
    @foreach (var animals in @Model["animals"])
    {
      <li>@animals.GetName()
        <ul>
          <li>Gender: @animals.GetGender()</li>
          <li>Breed: @animals.GetBreed()</li>
          <li>Date of Acceptance: @animals.GetDate()</li>
        </ul>
      </li>
    }
  </ol>
}
<p><a href="/animals/new">Add a new animal</a></p>
<p><a href="/">Return to Main Page</a></p>
